version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
#    environment:
#      - CONSUMER_URL=oasees2.tri.lan
#      - PROVIDER_URL=oasees.tri.lan
#      - PROVIDER_ASSIGNER=oasees-provider
    env_file:
       - .env

    volumes:
      - .:/app
      - /app/node_modules
